.navbar{
    /* border: 2px solid black; */
    height: 7.5rem;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
}
.navbar .top{
    /* border: 2px solid red; */
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: blue;
}
.navbar .top a{
    color: blue;
    margin-left: .5rem;
    margin-right: 2rem;
}
.navbar .down{
    /* border: 2px solid red; */
    height: 75%;
    display: flex;
}
.navbar .down .left, .navbar .down .right{
    /* border: 2px solid green; */
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .down .left img{
    width: 40%;
    height: 80%;
}
.navbar .down .middle{
    /* border: 2px solid ; */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .down .middle a{
    margin: 0 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
}
.navbar .down .right button{
    background-color:#596aff;
    color: white;
    width: 8.5rem;
    height: 3rem;
    border-radius: 25px;
    font-size: 1.1rem;
    border: none;
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}
.navbar .down .right button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    transform: scale(1.1);
}
.navbar .down .right button:active{
    transform: translateY(0.1px);
    box-shadow: 0 1px #66666600;
}